<h1>
  {{title}}
</h1>
<p>
  {{version}}
</p>

<form #itemform="ngForm">
  <input [(ngModel)]="newItem.reference" name="reference" required minlength="4" #ref="ngModel">
  <span [hidden]="ref.valid || ref.pristine"> Champ invalide</span>
  <input [(ngModel)]=" newItem.name " name="name " required>
  <input [(ngModel)]="newItem.state " name="state " required>
  <button [disabled]="!itemform.valid " (click)='createObject()'>Create Object</button>
</form>
<div *ngFor="let item of collection ">
  <item-component [item]="item" (onGetDetails)="getDetailsApp($event)"></item-component>
</div>
<!-->11.3.1 dans le selecteur
<item-component> on utilise l'EventEmitter pour appeler la fonction getDetails() sur app.component.ts et on lui passe $event</!-->