<h1>
  {{title}}
</h1>
<p>
  {{version}}
</p>

<form #itemform="ngForm">
  <input [(ngModel)]="newItem.reference" name="reference" required minlength="4" #ref="ngModel">
  <span [hidden]="ref.valid || ref.pristine"> Champ invalide</span>
  <input [(ngModel)]=" newItem.name " name="name " required>
  <input [(ngModel)]="newItem.state " name="state " required>
  <button [disabled]="!itemform.valid " (click)='createObject()'>Create Object</button>
</form>
<div *ngFor="let item of collection ">
  <!-->10.3.1 Couper le contenu de a boucle for 10.3.2 Ajout de la balise item-component 10.3.3 Utiliser @Input itel dans le selecteur
  <item-component>    </!-->
    <item-component [item]="item"></item-component>
</div>