<h1>
  {{title}}
</h1>
<p>
  {{version}}
</p>
<!-->6.1.1 créer fonction createObject 6.1.2 créer 3 input avec directive ngModel que l'on lie à newItem.</!-->
<input [(ngModel)]="newItem.reference" />
<input [(ngModel)]="newItem.name" />
<input [(ngModel)]="newItem.state" />
<button (click)='createObject()'>Create Object</button>
<div *ngFor="let item of collection">
  <p>Référence : {{item.reference}}</p>
  <p>Nom : {{item.name}}</p>
  <p class="state-0" *ngIf="0 == item.state">A livrer</p>
  <p class="state-1" *ngIf="1 == item.state">En cours de livraison</p>
  <p class="state-2" *ngIf="2 == item.state">Livrée</p>
  <button (click)="getDetails($event, 'test')" id="{{item.reference}}">Détails</button>
  <hr>
</div>