<h1>
  {{title}}
</h1>
<p>
  {{version}}
</p>
<div *ngFor="let item of collection">
  <p>Référence : {{item.reference}}</p>
  <p>Nom : {{item.name}}</p>
  <p class="state-0" *ngIf="0 == item.state">A livrer</p>
  <p class="state-1" *ngIf="1 == item.state">En cours de livraison</p>
  <p class="state-2" *ngIf="2 == item.state">Livrée</p>
  <!--> 5.1.1 Ajout d'une balise button avec event click qui appel unefonction getDetails.
        5.1.2 Passer $event en argument et  un deuxième argument test.
        5.1.3 AJout attribut id avec pour valeur item.reference.</!-->
  <button (click)="getDetails($event, 'test')" id="{{item.reference}}">Détails</button>
  <hr>
</div>